* {margin: 0;}

body * {transition: all ease-in-out 0.2s;}

.hide {display: none !important;}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll {overflow-y: auto;}
.scroll::-webkit-scrollbar {
    width: 12px;
}
.scroll::-webkit-scrollbar-track {
    background-color: var(--border-highlight);
    border-radius: 50px;
    border: solid 5px transparent;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(from var(--text) r g b / 50%);
    border-radius: 50px;
    background-clip: content-box;
    border: solid 1pt transparent;
}

.link {
    position: relative;
    text-decoration: none;
    color: var(--text);
}
.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3pt;
    width: 100%;
    opacity: 0.5;
    background-color: var(--accent);
    transition: all ease-in-out 0.2s;
}
.link:hover::after {height: 90%;}

input[type="checkbox"].toggle+label {
    /*visible label*/
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    margin-right: 2%;
    padding: 0.4% 0.5%;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    scale: 0;
}
input[type="checkbox"].toggle+label:hover {
    color: rgb(117, 117, 117);
}
input[type="checkbox"].toggle+label::before {
    content: "";
    width: 4em;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgb(117, 117, 117);
    margin-right: 0.25em;
}
input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    background-color: #fffefa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-image: url('https://api.iconify.design/iconamoon:mode-light-fill.svg?color=%2308081a');
    transition: all 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(1.5rem);
    background-color: #08081a;
    background-image: url('https://api.iconify.design/iconamoon:mode-dark-fill.svg?color=%23fffefa');
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    top: 0px;
    height: 5rem;
    padding: 0rem 1rem;

    background-color: var(--background);
    border-bottom: 2pt solid var(--border-highlight);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: calc(100dvh - 5rem - 2pt);

    background-color: var(--background);
}
main>div {margin: 2rem;}

#text_box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    
    width: 85%;
    border-radius: 1.7rem;
    background-color: var(--primary);
    box-shadow: var(--shadow-elevation-medium);
}
#text_box>div {padding: 1rem;}

#text1 {position: relative;}
#text1::after {
    content: '';
    position: absolute;
    height: 90%;
    width: 3pt;
    top: 5%;
    right: 0%;
    background-color: var(--border-highlight);
}
#text1 h3 {
    color: var(--text);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 3pt;
}
#text1 h4 {
    color: var(--text);
    margin-left: 1.5rem;
}
#text1 h6 {
    color: var(--text-alt);
    margin-left: 3rem;
}
#text1 span {color: var(--accent)}

#text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container1 {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;

    width: 85%;
}

#blobs {
    position: relative;
    height: 30rem;
    overflow: hidden;
}
#blobs svg {
    color: #FF0066;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all ease-in-out 1s;
}
#blobs:hover #blob1 {
    scale: 1.1;
    rotate: 50deg;
}
#blobs:hover #blob2 {
    scale: 1.09;
    rotate: -7deg;
}
#blobs:hover #blob3 {
    scale: 1.05;
    rotate: 30deg;
    transform: translate(-5px, 5px);
}
#blobs:hover #blob4 {
    scale: 1.3;
    rotate: -20deg;
    transform: translate(10px, -5px);
}

#btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: auto;
    height: 80%;
    width: 80%;

    border-radius: 1.7rem;
    background-color: var(--primary);
    box-shadow: var(--shadow-elevation-medium);
}
#btns button {
    width: 80%;
    height: 20%;
    font-size: 20pt;
    font-family: var(--font);
    font-weight: 700;
    color: var(--text-alt);
    border-radius: 1rem;
    border: none;
    background-color: var(--secondary);
    box-shadow: var(--shadow-elevation-medium);
    transition: all ease-in-out 0.2s;
}
#btns button:hover {
    box-shadow: var(--shadow-elevation-high);
    scale: 1.05;
}

#container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}
#container2>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--border-highlight);
    padding: 3rem;
    margin: 0rem 1rem;
    border-radius: 1.7rem;
    width: 10%;
    height: 10rem;
}
#container2>div h5 {position: relative;}
#container2>div h5::after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    bottom: 0;
    left: 0;
    height: 2.2pt;
    width: 0;
    opacity: 0.9;
    transition: all ease-in-out 0.3s;
}
#container2>div svg {transition: all ease-in-out 0.2s;}
#container2>div:hover svg {
    color: var(--accent);
    scale: 1.3;
}
#container2>div:hover h5::after {width: 100%;}

#container3 {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;
    width: 85%;
}

#dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    margin: auto;
    width: 85%;
    height: 20rem;

    padding: 1rem;
    border-radius: 1.7rem;
    background-color: var(--primary);

}
#dropdown details {
    font-size: 15pt;
    font-family: var(--font);
    font-weight: 700;
    color: var(--text-alt);
    width: 90%;
    padding: 0.4rem;
    margin: 0.25rem;
    border-radius: 0.7rem;
    background-color: var(--secondary);
    box-shadow: var(--shadow-elevation-medium);
}
#dropdown details>p {
    font-size: 12pt;
    font-family: var(--font);
    font-weight: 500;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    background-color: var(--accent);
}

#bento {
    display: grid;
    grid-template-areas:
    'a a a e d'
    'a a a f d'
    'b b c c c';
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    height: 100%;
}
#bento div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    background-color: #FF0066;
    padding: auto;
    text-align: center;
}
#bento div:nth-child(1) {grid-area: a;}
#bento div:nth-child(2) {grid-area: b;}
#bento div:nth-child(3) {grid-area: c;}
#bento div:nth-child(4) {grid-area: d;}
#bento div:nth-child(5) {grid-area: e;}
#bento div:nth-child(6) {grid-area: f;}

#table {
    width: 60%;
    background-color: var(--text-alt);
    color: var(--text);
    border-radius: 1.7rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {border: 3pt solid var(--border-highlight);}
table td {
    height: 50px;
    text-align: center;
}
table th {
    background-color: var(--secondary);
}
table tbody tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--text);
    color: var(--text-alt);
}
table tbody tr:nth-child(even) td:nth-child(even) {
    background-color: var(--text);
    color: var(--text-alt);
}
