h1, h2, h3, h4, h5, h6, small, p {font-family: var(--font); margin:0;}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hide {display: none !important;}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#parablob1 path {fill: #ff0000;}
#parablob2 path {fill: #00ff00;}
#parablob3 path {fill: #0000ff;}

.parallax-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.background-svg {
    position: absolute;
    transition: top ease-in-out 10ms;
}