* {margin: 0;}

.hide {display: none !important;}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll {
    overflow-y: auto;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}
.scroll::-webkit-scrollbar-track {
    background-color: var(--border-highlight);
    border-radius: 50px;
    border: solid 5px transparent;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(from var(--text) r g b / 50%);
    border-radius: 50px;
    background-clip: content-box;
    border: solid 2px transparent;
}

input[type="checkbox"].toggle+label {
    /*visible label*/
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    margin-right: 2%;
    padding: 0.4% 0.5%;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    scale: 0;
}
input[type="checkbox"].toggle+label:hover {
    color: rgb(117, 117, 117);
}
input[type="checkbox"].toggle+label::before {
    content: "";
    width: 4em;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgb(117, 117, 117);
    margin-right: 0.25em;
}
input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    background-color: #fffefa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-image: url('https://api.iconify.design/iconamoon:mode-light-fill.svg?color=%2308081a');
    transition: all 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(1.5rem);
    background-color: #08081a;
    background-image: url('https://api.iconify.design/iconamoon:mode-dark-fill.svg?color=%23fffefa');
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    top: 0px;
    height: 5rem;

    background-color: var(--background);
    border-bottom: 1pt solid var(--border-highlight);
}

main {
    height: calc(100dvh - 5rem - 1pt);
}