:root[data-theme="light"] {
    --panel-bgr: aliceblue;
    --panel-alt: #464650;
    --panel-alt2: #1e1b1b;
}
:root[data-theme="dark"] {
    --panel-bgr: #464650;
    --panel-alt: aliceblue;
    --panel-alt2: aliceblue;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 12px);
    height: 100%;
    margin: 0;
    z-index: 50;
    pointer-events: none;
}

#panel {
    position: sticky;
    top: 12.5%;
    left: 100%;
    width: fit-content;
    height: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 0.2rem;
    border-radius: 0.7rem 0 0 0.7rem;
    background-color: var(--panel-bgr);
    pointer-events: auto;
}
#panel, #panel * {transition: background-color ease-in-out 0.2s,color ease-in-out 0.1s;}
#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-type: y mandatory;
}
#controls>div, #switches, #min_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--panel-alt);
    padding: 4px;
    margin: 4px;
    border-radius: 0.7rem;
    box-shadow: var(--shadow-elevation-medium);
}
#controls>div {
    flex-direction: column;
    scroll-snap-align: end;
}
#controls>div>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
    gap: 4px;
}
#min_btn {
    background-color: hsl(0, 5%, 9%);
    width: 85%;
    max-height: 28px;
    padding: 0;
}
#min_btn svg {rotate: 180deg; color: rgba(255,255,255,0.5);}
#min_btn svg:hover {rotate: 180deg; color: aliceblue;}

.color_disp {
    width: 80%;
    height: 11.5px;
    border-radius: 0.5rem;
    background-color: #1e1b1b;
    border: solid 2pt var(--panel-bgr);
    font-size: 8pt;
    font-weight: 600;
    transition: none !important;
}

.slider_container {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 0.7rem;
    background-color: var(--panel-bgr);
    padding: 4px;
    user-select: none;
}
.slider_center {
    position: absolute;
    top: 11.5px;
    left: 11.5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: hsl(0, 50%, 80%);
    outline: solid 2.7pt var(--panel-bgr);
    pointer-events: none;
    z-index: 3;
    transition: none !important;
}
.slider_pointer {
    position: absolute;
    top: 0px;
    left: calc(50% - 3.5px);
    width: 7px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--panel-alt2);
    pointer-events: none;
    transform-origin: bottom;
    rotate: 0deg;
}
.slider {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(hsl(0deg 100% 50%), hsl(10deg 100% 50%), hsl(20deg 100% 50%), hsl(30deg 100% 50%), hsl(40deg 100% 50%), hsl(50deg 100% 50%), hsl(60deg 100% 50%), hsl(70deg 100% 50%), hsl(80deg 100% 50%), hsl(90deg 100% 50%), hsl(100deg 100% 50%), hsl(110deg 100% 50%), hsl(120deg 100% 50%), hsl(130deg 100% 50%), hsl(140deg 100% 50%), hsl(150deg 100% 50%), hsl(160deg 100% 50%), hsl(170deg 100% 50%), hsl(180deg 100% 50%), hsl(190deg 100% 50%), hsl(200deg 100% 50%), hsl(210deg 100% 50%), hsl(220deg 100% 50%), hsl(230deg 100% 50%), hsl(240deg 100% 50%), hsl(250deg 100% 50%), hsl(260deg 100% 50%), hsl(270deg 100% 50%), hsl(280deg 100% 50%), hsl(290deg 100% 50%), hsl(300deg 100% 50%), hsl(310deg 100% 50%), hsl(320deg 100% 50%), hsl(330deg 100% 50%), hsl(340deg 100% 50%), hsl(350deg 100% 50%));
}
.knob {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
}

.vertical_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 48px;
    padding: 4px;
    border-radius: 0.7rem;
    background-color: var(--panel-bgr);
}
.vertical_slider input {
    rotate: -90deg;
    width: 48px;
}
.hue-changer {
    --lightness: 0%;
    appearance: none;
    background-color: transparent;
}
.hue-changer::-webkit-slider-runnable-track {
    position: relative;
    height: 8px;
    background: linear-gradient(to right,black, white);
    border-radius: 8px;
}
.hue-changer::-moz-range-track {
    position: relative;
    height: 8px;
    background: linear-gradient(to right,black,white);
    border-radius: 8px;
    border: 0.125rem solid var(--panel-bgr);
}
.hue-changer::-webkit-slider-thumb {
    box-sizing: border-box;
    appearance: none;
    position: relative;
    background-color: hsl(0, 0%, var(--lightness));
    border: 0.125rem solid hsl(0, 0%, calc(100% - var(--lightness)));
    border-radius: 0.5rem;
    width: 1rem;
    height: 1.5rem;
    top: 50%;
    translate: 0 -50%;
}
.hue-changer::-moz-range-thumb {
    box-sizing: border-box;
    appearance: none;
    position: relative;
    background-color: hsl(0, 0%, var(--lightness));
    border: 0.125rem solid hsl(0, 0%, calc(100% - var(--lightness)));
    border-radius: 0.5rem;
    width: 1rem;
    height: 1.5rem;
}
.hue-changer::-moz-range-progress {background-color: transparent;}

#hue_lock+label::after {
    background-size: 1.55rem;
    background-image: url('./hue.svg');
}
#hue_lock.toggle:checked+label::after {
    background-size: 1.2rem;
    background-image: url('https://api.iconify.design/material-symbols:lock-sharp.svg?color=%23fffefa');
}
#dark_lock+label::after {
    background-image: url('https://api.iconify.design/iconamoon:mode-dark-fill.svg?color=%2308081a');
}
#dark_lock.toggle:checked+label::after {
    background-image: url('https://api.iconify.design/material-symbols:lock-sharp.svg?color=%23fffefa');
}