:root {
    --text:     hsl(247, 75%, 5%);
    --text-50:  hsl(246, 76%, 95%);
    --text-100: hsl(248, 76%, 90%);
    --text-200: hsl(247, 75%, 80%);
    --text-300: hsl(247, 75%, 70%);
    --text-400: hsl(247, 75%, 60%);
    --text-500: hsl(247, 75%, 50%);
    --text-600: hsl(247, 75%, 40%);
    --text-700: hsl(247, 75%, 30%);
    --text-800: hsl(247, 75%, 20%);
    --text-900: hsl(248, 76%, 10%);
    --text-950: hsl(246, 76%, 5%);

    --prim-50:  hsl(343, 69%, 95%);
    --prim-100: hsl(345, 69%, 90%);
    --prim-200: hsl(344, 71%, 80%);
    --prim-300: hsl(344, 70%, 70%);
    --prim-400: hsl(344, 70%, 60%);
    --prim-500: hsl(344, 70%, 50%);
    --prim-600: hsl(344, 70%, 40%);
    --prim-700: hsl(344, 70%, 30%);
    --prim-800: hsl(344, 71%, 20%);
    --prim-900: hsl(345, 69%, 10%);
    --prim-950: hsl(343, 69%, 5%);
    --n: hsl(344, 22%, 80%);
    --d: hsl(339, 43%, 87%);
}