:root {
    --text:     hsl(247, 75%, 5%);
    --text-50:  hsl(246, 76%, 95%);
    --text-100: hsl(248, 76%, 90%);
    --text-200: hsl(247, 75%, 80%);
    --text-300: hsl(247, 75%, 70%);
    --text-400: hsl(247, 75%, 60%);
    --text-500: hsl(247, 75%, 50%);
    --text-600: hsl(247, 75%, 40%);
    --text-700: hsl(247, 75%, 30%);
    --text-800: hsl(247, 75%, 20%);
    --text-900: hsl(248, 76%, 10%);
    --text-950: hsl(246, 76%, 5%);
}