@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.15),
        0.8px 1px 1.3px -1.6px hsl(var(--shadow-color) / 0.13),
        2px 2.5px 3.2px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.16),
        1.4px 1.8px 2.3px -1.1px hsl(var(--shadow-color) / 0.14),
        3.8px 4.9px 6.3px -2.2px hsl(var(--shadow-color) / 0.12),
        10px 12.7px 16.4px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-high:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.14),
        2.3px 2.9px 3.7px -0.5px hsl(var(--shadow-color) / 0.14),
        4.5px 5.7px 7.4px -0.9px hsl(var(--shadow-color) / 0.13),
        7.9px 10px 12.9px -1.4px hsl(var(--shadow-color) / 0.12),
        13.5px 17.1px 22.1px -1.9px hsl(var(--shadow-color) / 0.11),
        22.1px 28.1px 36.2px -2.3px hsl(var(--shadow-color) / 0.1),
        34.8px 44.1px 56.9px -2.8px hsl(var(--shadow-color) / 0.09),
        52.3px 66.3px 85.5px -3.2px hsl(var(--shadow-color) / 0.09);

        /*///////////////////*/
        --txt-50:  #e9f3fb;
        --txt-100: #d4e8f7;
        --txt-200: #a8d1f0;
        --txt-300: #7dbae8;
        --txt-400: #52a3e0;
        --txt-500: #268bd9;
        --txt-600: #1f70ad;
        --txt-700: #175482;
        --txt-800: #0f3857;
        --txt-900: #081c2b;
        --txt-950: #040e16;

        --txtd-50:  #e9f3fb;
        --txtd-100: #d4e8f7;
        --txtd-200: #a8d1f0;
        --txtd-300: #7dbae8;
        --txtd-400: #52a3e0;
        --txtd-500: #268bd9;
        --txtd-600: #1f70ad;
        --txtd-700: #175482;
        --txtd-800: #0f3857;
        --txtd-900: #081c2b;
        --txtd-950: #040e16;
        /*///////////////////*/

        --bgr-50:  #ebebfa;
        --bgr-100: #d6d6f5;
        --bgr-200: #adadeb;
        --bgr-300: #8585e0;
        --bgr-400: #5c5cd6;
        --bgr-500: #3333cc;
        --bgr-600: #2929a3;
        --bgr-700: #1f1f7a;
        --bgr-800: #141452;
        --bgr-900: #0a0a29;
        --bgr-950: #050514;

        --bgrd-50:  #eff2f5;
        --bgrd-100: #e0e4eb;
        --bgrd-200: #c1c9d7;
        --bgrd-300: #a2aec3;
        --bgrd-400: #8393af;
        --bgrd-500: #63789c;
        --bgrd-600: #50607c;
        --bgrd-700: #3c485d;
        --bgrd-800: #28303e;
        --bgrd-900: #14181f;
        --bgrd-950: #0a0c10;

        /*///////////////////*/  

        --prim-50:  #fbe9ee;
        --prim-100: #f7d4dd;
        --prim-200: #f0a8bb;
        --prim-300: #e87d9a;
        --prim-400: #e05278;
        --prim-500: #d92656;
        --prim-600: #ad1f45;
        --prim-700: #821734;
        --prim-800: #570f22;
        --prim-900: #2b0811;
        --prim-950: #160409;

        --primd-50:  #fce9ee;
        --primd-100: #f9d2dd;
        --primd-200: #f2a6ba;
        --primd-300: #ec7998;
        --primd-400: #e64c75;
        --primd-500: #df2053;
        --primd-600: #b31942;
        --primd-700: #861332;
        --primd-800: #590d21;
        --primd-900: #2d0611;
        --primd-950: #160308;

        /*///////////////////*/  
        
        --scnd-50:  #f0ebfa;
        --scnd-100: #e2d6f5;
        --scnd-200: #c5adeb;
        --scnd-300: #a885e0;
        --scnd-400: #8b5cd6;
        --scnd-500: #6e33cc;
        --scnd-600: #5829a3;
        --scnd-700: #421f7a;
        --scnd-800: #2c1452;
        --scnd-900: #160a29;
        --scnd-950: #0b0514;

        --scndd-50:  #edebf9;
        --scndd-100: #dad7f4;
        --scndd-200: #b5afe9;
        --scndd-300: #9088dd;
        --scndd-400: #6b60d2;
        --scndd-500: #4638c7;
        --scndd-600: #382d9f;
        --scndd-700: #2a2277;
        --scndd-800: #1c1650;
        --scndd-900: #0e0b28;
        --scndd-950: #070614;
        
        /*///////////////////*/

        --acnt-50:  #e7f4fd;
        --acnt-100: #d0e8fb;
        --acnt-200: #a0d2f8;
        --acnt-300: #71bbf4;
        --acnt-400: #41a5f1;
        --acnt-500: #128eed;
        --acnt-600: #0e72be;
        --acnt-700: #0b558e;
        --acnt-800: #07395f;
        --acnt-900: #041c2f;
        --acnt-950: #020e18;

        --acntd-50:  #eaf8fb;
        --acntd-100: #d5f1f6;
        --acntd-200: #abe2ed;
        --acntd-300: #81d4e4;
        --acntd-400: #57c5db;
        --acntd-500: #2db7d2;
        --acntd-600: #2492a8;
        --acntd-700: #1b6e7e;
        --acntd-800: #124954;
        --acntd-900: #09252a;
        --acntd-950: #041215;

        /*///////////////////*/
}

:root[data-theme="light"] {
    --border-highlight: rgba(0, 0, 0, 0.2);
    --background: #fbfbfe;
    --text1: var(--txt-900);
    --accent1: var(--acnt-500);
    --primary1: var(--prim-600);
    --secondary1: var(--scnd-300);
    --text2: var(--txt-900);
    --text3: var(--txt-950);
    --text4: var(--txt-50);
    --secondary2: var(--scnd-500);
    --primary0: var(--prim-700);
    --primary2: var(--prim-500);
    --primary3: var(--prim-300);
    --accent2: var(--background);
    --secondary3: var(--scnd-400);
    --accent3: var(--acnt-200);
    --text5: var(--txt-200);
    --background0: var(--bgr-600);
    --background1: var(--bgr-400);
    --background2: var(--bgr-200);
    --primary4: hsl(from var(--prim-200) h 50% l);
}

:root[data-theme="dark"] {
    --border-highlight: rgba(255, 255, 255, 0.2);
    --background: #0E1116;
    --text1: var(--txtd-50);
    --accent1: var(--acntd-400);
    --background1: var(--bgrd-900);
    --primary1: var(--primd-600);
    --secondary1: var(--scndd-400);
    --text2: var(--txtd-200);
    --text3: var(--txtd-900);
    --text4: var(--txtd-900);
    --secondary2: var(--scndd-500);
    --primary0: var(--primd-700);
    --primary2: var(--primd-500);
    --primary3: var(--primd-300);
    --accent2: var(--acntd-700);
    --secondary3: var(--scndd-600);
    --accent3: var(--acntd-600);
    --text5: var(--txtd-800);
    --background0: var(--bgrd-400);
    --background1: var(--bgrd-600);
    --background2: var(--bgrd-800);
    --primary4: hsl(from var(--primd-600) h 35% l);
}

body {
  font-family: var(--font);
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font);
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

h6 {font-size: 0.9rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}